DATABASE_URL="postgresql://postgres:postgres@localhost:5432/superduperdb"
BETTER_AUTH_SECRET="superdupersecret"
BETTER_AUTH_URL=http://localhost:3000
QSTASH_URL=http://127.0.0.1:8080/v2/publish/http://127.0.0.1:8787
QSTASH_TOKEN=your_qstash_token_here
QSTASH_CURRENT_SIGNING_KEY=your_current_qstash_signing_key_here
QSTASH_NEXT_SIGNING_KEY=your_next_qstash_signing_key_here
